body {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

header {
	width: 909px;
	height: 60px;
}

img {
	width: 5%;
	/*border: 1px solid red;*/

}

.health {
	display: inline-block;
	padding-left: 10px;
	vertical-align: 20px;
	font-size: 50px;
}