body {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

header {
	width: 909px;
	height: 60px;
}

img {
	width: 6%;
}

.health {
	float: left;
	font-size: 50px;
}